@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --primary: #4f46e5;
  --primary-foreground: #ffffff;
  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;
  --accent: #eef2ff;
  --accent-foreground: #0f172a;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #cbd5e1;
  --radius: 0.5rem;
}

.dark {
  --background: #000000;
  --foreground: #E5E7EB;
  --card: #111111;
  --card-foreground: #E5E7EB;
  --primary: #3B82F6;
  --primary-foreground: #FFFFFF;
  --secondary: #1F2937;
  --secondary-foreground: #E5E7EB;
  --accent: #374151;
  --accent-foreground: #E5E7EB;
  --border: #374151;
  --input: #374151;
  --ring: #3B82F6;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-medium tracking-tight;
  }
  
  textarea {
    @apply resize-none;
  }
  
  input, textarea, select {
    @apply bg-background;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
} 